# Dependencies
node_modules/

# Build
dist/
*.local

# Logs
logs
*.log
npm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Env
.env
.env.*.local
